{% extends 'blogApp/base.html'%}
{% block body_block %}

<div class="divCenter">
    <h1>{{post_detail.title}}</h1>
    <h4>{{post_detail.text|safe}}</h4>

    <!-- Checking if publish date is there..if not then adding link to publish it-->
    {% if post_detail.publish_date %}

    <h4>{{post_detail.publish_date|date:'D M Y'}}</h4>
    {% else %}
    <a href="{% url 'blog_app:publish-post' post_detail.id%}">Publish</a>
    {% endif %}

    <!-- Checking if logged in then Edit/Delete is Available-->
    {% if user.is_authenticated %}
    <a href="{% url 'blog_app:update-post' post_detail.pk%}"><i class="fa fa-edit"></i>Edit</a>
    <a href="{% url 'blog_app:delete-post' post_detail.pk%}"><i class="fa fa-trash"></i>Delete</a>

    {% endif %}

    <hr />
    <a href="{% url 'blog_app:add-comment' post_detail.pk%}"><i class="fa fa-plus"></i>Add Comment</a>

    {% for comment in post_detail.comments.all %}
    {% if user.is_authenticated  %}
            {% if not comment.approved_stat %}
                <a href="{% url 'blog_app:approve-comment' comment.id%}"><i class="fa fa-tick"></i>Approve Comment</a>
                <a href="{% url 'blog_app:reject-comment' comment.id%}"><i class="fa fa-trash"></i>Remove Comment</a>
            {% endif %}
    {% endif %}
    <p>{{comment.text|safe}}</p>
    <p>{{comment.created_date|date:'D M Y'}}</p>
    <p>Comment By : {{comment.author}}</p>
    {% endfor %}



</div>


{% endblock %}